:root {
  --background: #f9f6efff;
  --lightgrey: #f3f3f3ff ;
  --footer: #333333;
}

* {
  font-family: 'Economica', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

html {
  width:100%;
  height:100%;
}

body {
  margin-top: 45px;
  height: 100%;
  width: 100%;
  background-color: #f9f6ef;
  /* background-image: url('./assets/main.webp'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.app-content {
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Nav */
.logo {
  max-width: 15%;
  height: auto;
  margin-top: -30px;
}

.scroll-logo {
  max-width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

ul.nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  margin-left: 1.5rem;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 6rem;
  gap: 1rem;
  height: 15%;
}

/* .bubble {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  border-radius: 8px;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}

.bub {
  height: 12%;
  width: 35% fit-content;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
} */

.nav li {
  margin-right: 15px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}

.nav-link.active {
  font-weight: bolder;
}

.nav li:hover {
  transform: scale(1.1);
}

/* Footer */
.footer {
  /* margin-top: 70px; */
  text-align: center;
  color: var(--background);
  font-size: 17px;
  padding: 26px 34px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

.footer-container {
  background-color: #1d0f8f;
  width: 100%;
}

.socialIcons {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.socialIcons li {
  margin: 0 0.7rem;
}